
# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Gradle
.gradle/
**/build/
build*.txt
build*.log
*.log

# IDEs
*.iml
.idea/
.project
.classpath
.settings/
bin/

# VS Code
.vscode/
.history/
*.code-workspace

# OS
.DS_Store
Thumbs.db
